- if !@user.nil?
  - if @user['pic']
    .profile-pic
      %img{:src => '/images/'+@user['pic'].to_s}
  %p 
    - if following?(@user['username'])
      You are following
      %strong= @user['username']
    - else
      %a{:href => "/follow/#{@user['username']}"} 
        follow 
        %strong= @user['username']

  - if @user['biography']
    %h6 About
    %p 
      = @user['biography']
      - if @user['website']
        %a{:href => @user['website']}= @user[:website]

  %p 
    Here is what 
    %strong= @user['username']
    has had to say:
  .backlink
    %a{:href => '/'} &laquo;back

%ul.chirplisthome
  - @chirps.each do |chirp|
    %li
      .user
        %a{:href => "/users/#{chirp['user']}"}= chirp['user']

        - if chirp['user'] != auth_username
          %span.follow
            - unless following?(chirp['user'])
              %a{:href => "/follow/#{chirp['user']}"} [follow]

        - if authenticated?
          .replybtn
            %a{:href => '/reply/'+chirp['_id'].to_s} Reply



      - if chirp['file']
        .chirp-pic
          %img{:src => '/images/'+chirp['file'].to_s}
      .chirp= chirp['text']
      - if chirp['clicky']
        .clicky
          %a{:href => chirp['clicky'], :class=>'chirplink'}= chirp['clicky']
      %em 
        = time_ago_in_words(chirp['created_at'])

      - chirp['replies'].each do |reply|
        .reply

          .user
            %a{:href => "/users/#{reply['user']}"}= reply['user']
            %em= time_ago_in_words(reply['created_at'])
          .text
            = reply['text']


