- if !@user.nil?
  %p 
    Here is what 
    %strong= @user['username']
    has had to say:
  .backlink
    %a{:href => '/'} &laquo;back

%ul.chirplisthome
  - @chirps.each do |chirp|
    %li
      .user
        %a{:href => "/users/#{chirp['user']}"}= chirp['user']

        - if chirp['user'] != auth_username
          %span.follow
            - unless following?(chirp['user'])
              %a{:href => "/follow/#{chirp['user']}"} [follow]


      - if chirp['file']
        .chirp-pic
          %img{:src => '/images/'+chirp['file'].to_s}
      .chirp= chirp['text']
      - if chirp['clicky']
        .clicky
          %a{:href => chirp['clicky'], :class=>'chirplink'}= chirp['clicky']
      %em 
        posted 
        = time_ago_in_words(chirp['created_at'])

