
.signin
  %a{:href => '/signup'} Sign up
  %a{:href => '/signin'} Sign in

.dopost
  = partial :new_post


%p
  here's what our users are saying now:

  %ul
    - @chirps.each do |chirp|
      %li
        .chirp= chirp['text']
        - if chirp['clicky']
          %a{:href => chirp['clicky'], :class=>'chirplink'}= chirp['clicky']
        - if chirp['file']
          %img{:src => '/images/'+chirp['file'].to_s}
        %a{:href => "/users/#{chirp['user']}"}= chirp['user']
        %em 
          posted 
          = Time.at(chirp['created_at'])

