
= partial :signin_links

.dopost
  = partial :new_post


%p
  %strong here's what our users are saying now:

- if @chirps.length > 0
  %ul.chirplisthome
    - @chirps.each do |chirp|
      %li
        .user
          %a{:href => "/users/#{chirp['user']}"}= chirp['user']
        - if chirp['file']
          .chirp-pic
            %img{:src => '/images/'+chirp['file'].to_s}
        .chirp= chirp['text']
        - if chirp['clicky']
          %a{:href => chirp['clicky'], :class=>'chirplink'}= chirp['clicky']
        %em 
          posted 
          = time_ago_in_words(chirp['created_at'])

- else
  %p Nothing yet! be the first!
